* {
  border: none;
  border-radius: 0px;
  font-family: Iosevka, FontAwesome, Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

#workspaces {
	background: #282828;
	margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
	border-radius: 16px;
  border: solid 0px #f4d9e1;
  font-weight: normal;
  font-style: normal;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: #a89984;
}

#workspaces button.active {
  color: #fbf1c7;
  background-color: transparent;
  border-radius: 16px;
}

#workspaces button:hover {
	color: #fbf1c7;
	border-radius: 16px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background: transparent;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
  border-radius: 8px;
  border: solid 0px #f4d9e1;
}

#custom-date {
	color: #D3869B;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#clock {
  color: #a89984;
  background-color: #282828;
  border-radius: 24px 0px 0px 24px;
  padding-left: 13px;
  padding-right: 15px;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#backlight {
  background-color: #24283b;
  color: #a89984;
  border-radius: 0px 0px 0px 0px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 0px;
}

#network {
  color: #a89984;
  background: #282828;
  border-radius: 16px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 12px;
  padding-right: 13px;
}

#pulseaudio {
  background: #282828;
  color: #a89984;
  border-radius: 16px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10;
  padding-right: 10;
}

#pulseaudio.muted {
  background: #282828;
  color: #a89984;
  padding-left: 12px;
  padding-right: 15px;
  border-radius: 16px;
  margin-left: 0px;
}

#custom-playerctl {
	background: #282828;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  background: #282828;
  color: #a89984;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: normal;
  font-style: normal;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#custom-wf-recorder {
  padding: 0 20px;
  color: #e5809e;
  background-color: #1E1E2E;
}

#cpu {
  background-color: #282828;
  color: #a89984;
  border-radius: 16px 0 0 16px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#memory {
  background-color: #282828;
  color: #a89984;
  border-radius: 0px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#disk {
  background-color: #282828;
  color: #a89984;
  border-radius: 0 16px 16px 0;
  margin: 5px;
  margin-left: 0px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#custom-hyprpicker {
  background-color: #282828;
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 11px 0px 9px;
  font-weight: bold;
}

#keyboard-state label {
  opacity: 0;
}

#keyboard-state label.locked {
  opacity: 100;
  background: #282828;
  color: #a89984;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: normal;
  font-style: normal;
}
